.header {
    background-image: url(../img/main-background.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px 0 97px;

    &__top-info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        color: #000;
        &__logo {
            width: 295px;
            height: 89px;
        }
        &__text {
            text-align: center;
            font-size: 21px;
            line-height: 140%;
            margin: 0 30px;
        }
        &__contacts {
            display: flex;
            justify-content: space-between;
            width: 275px;
            &_whatsapp {
                margin-top: -5px;
                &:hover {
                    svg path:first-child {
                        transition: all .5s;
                        fill: darken($color: #4CAF50, $amount: 4%);
                    }
                }
                &:active {
                    svg path:first-child {
                        transition: all .5s;
                        fill: darken($color: #4CAF50, $amount: 8%);
                    }
                }
            }
            &_phone {
                font-size: 24px;
                text-decoration: none;
                text-align: right;
                color: #000;
                transition: all .5s;
                & span {
                    font-size: 14px;
                    text-decoration-line: underline;
                    text-transform: uppercase;
                }
                &:hover {
                    text-shadow: 0px 0px 0.4px #000;
                }
                &:active {
                    text-shadow: 0px 0px 0.7px #000;
                }
            }
        }
    }

    &__define-text {
        margin-top: 28px;
        font-size: 20px;
        line-height: 160%;
        max-width: 600px;
        & span {
            font-weight: 600;
        }
    }

    &__define-button {
        cursor: pointer;
        width: 380px;
        max-width: 80vw;
        height: 100px;
        background: linear-gradient(96.45deg, #FABF36 11.05%, #F7DC9C 90.96%);
        box-shadow: 0px 6px 0px rgba(176, 124, 1, 0.8);
        border-radius: 50px;
        border: none;
        margin-top: 47px;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        transition: all .5s;
        &:hover {
            box-shadow: 0px 5px 0px rgba(176, 124, 1, 0.8);
            text-shadow: 0px 0px 0.4px #000;
        }
        &:active {
            box-shadow: 0px 2px 0px rgba(176, 124, 1, 0.8);
            text-shadow: 0px 0px 0.7px #000;
        }
    }

    &__watch {
        margin-top: 96px;
        display: flex;
        flex-wrap: wrap;
        & div {
            width: 280px;
            height: 280px;
            background: #FFF;
            border-radius: 20px;
            padding: 10px;
            &:first-child {
                margin-right: 20px;
            }
            & a {
                text-decoration: none;
                color: #313131;
                transition: all .5s;
                & span {
                    font-weight: 700;
                    color: #F30B0B;
                    text-decoration: underline;
                }
                &:hover {
                    text-shadow: 0px 0px 0.1px;
                }
                &:active {
                    text-shadow: 0px 0px 0.7px;
                }
            }
            & div {
                width: 260px;
                height: 260px;
                background: #FFF;
                border: 1px solid #CCC;
                border-radius: 20px;
                text-align: center;
                p {
                    font-size: 14px;
                    line-height: 150%;
                    margin-top: 10px;
                }
            }         
        }
    }
}